@charset "utf-8";
/* CSS Document */

body { background:#efefef; padding:0; margin:0; font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;  }
#grid { width:740px; }

/*------------*/
/*---HEADER---*/
/*------------*/
#header { width:740px; height:49px; background:#2da091; -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.63); -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.63); box-shadow:0px 2px 3px rgba(0, 0, 0, 0.63); z-index:1; position:absolute;}
#header a .logo { float:left; margin:7px 0 0 9px; border:none; }
/*--------------*/
/*--FIM HEADER--*/
/*--------------*/     



/*----------*/
/*---BODY---*/
/*----------*/
#sidebar { background:#6cc7b7; border-right:solid 7px #d9dbda; width:161px; min-height:476px; float:left; z-index:0; padding:55px 0 0 11px; }
#sidebar p { float:left; color:#FFF; margin:4px 0 3px 0; font-size:13px; }
#sidebar input { border:medium none; border-radius:10px; float:left; height:19px; padding:0 0 3px 7px; width:141px; display: block; adding: 5px 8px; }
#sidebar input:focus { outline: none; box-shadow: 0 2px 0 rgba(0,0,0,.2), 0 0 4px rgba(0,0,0,0.1), 0 0 5px 1px #00b794; }

#aviso { float:left; background:url("../images/aviso.jpg"); width:115px; height:126px; margin:11px 13px 16px; }
#aviso img { margin: 34px auto 0; display:table-caption; }
#aviso p { color:#000; font-size:10px; line-height:11px; margin:0 12px; text-align:center; width:88px; }

#conteudo { float:left; width:552px; }
#conteudo h1 { color:#2da091; margin: 60px 0 8px 16px; font-size:24px;}
#conteudo ul { float:left; margin:1px 0 0 16px; padding:0; }
#conteudo ul li { list-style:none; display:inline; padding: 0 36px 0 0; }
#conteudo img { margin-left:-5px; }
#conteudo p { float:left; margin:10px 0 25px 16px; }
.linha2 { font-size:30px; }
.positivo { color:#31b34a; }
.ok { color:#fdc20e; }
.negativo { color:#ee3d23; }
/*------------*/
/*--FIM BODY--*/
/*------------*/           